:root {
  --h1-color: rgb(2, 145, 45);
  --h2-color: rgb(255, 133, 19);
  --p-color: rgb(39, 63, 43);
  --radiate-color: rgb(116, 255, 51);
  --text-shadow-light: rgb(250, 250, 250);
}

body {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100svw;
  min-height: 100svh;
  margin: 0;
  background: url(./images/jungle_bg.webp) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Passion One", cursive;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

header {
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: var(--h1-color);
  text-shadow: 0 0 1rem var(--text-shadow-light);
  -webkit-text-stroke: 0.05rem var(--text-shadow-light);
  margin: 2rem 1rem 0 1rem;
}

h2 {
  color: var(--h2-color);
  text-shadow: 0 0 0.75rem var(--text-shadow-light);
  letter-spacing: 0.1rem;
  margin: 0 1rem;
}
p {
  color: var(--p-color);
}
.wrapper {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  max-height: 100svh;
  margin: 0 0 2rem 0;
}

.play-btn {
  height: 4rem;
  width: 12rem;
  font-size: 1.1rem;
  font-family: "Passion One", cursive;
  color: var(--p-color);
  background: var(--h2-color);
  border: none;
  border-radius: 2rem;
  filter: drop-shadow(0 0.3rem 0.3rem rgba(66, 66, 66, 0.75));
  transition: transform 1000ms;
  cursor: pointer;
}
.play-btn:hover {
  outline: 0.2rem solid var(--p-color);
  transform: translateY(-0.35rem) scale(1.05);
  transition: transform 250ms;
}

.play-btn:active {
  transform: scale(0.95);
  transition: transform 100ms;
}

img {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  margin: 2rem;
  user-select: none;
  transition: 500ms;
}

img:hover {
  transition: 200ms;
  transform: scale(1.02);
  filter: drop-shadow(0 0.5rem 0.5rem rgba(66, 66, 66, 0.75));
}

.bounce {
  animation: bounce 150ms;
}

.radiate {
  animation: radiate 2000ms infinite cubic-bezier(0.5, 0.6, 0.5, 0.4);
  outline: 0.2rem solid var(--p-color);
}

/* collections */
body,
header,
.wrapper {
  display: flex;
}

/* animations */
@keyframes bounce {
  0% {
    transform: scaleY(1) scaleX(1);
    filter: drop-shadow(0 0 0.1rem var(--h2-color));
  }
  25% {
    transform: scaleY(0.9) scaleX(1.15);
    filter: drop-shadow(0 0 1.5rem var(--h2-color));
  }
  75% {
    transform: scaleY(1.1) scaleX(0.9);
    filter: drop-shadow(0 0 1.5rem var(--h2-color));
  }
  100% {
    transform: scaleY(1) scaleX(1);
    filter: drop-shadow(0 0 0.1rem var(--h2-color));
  }
}

@keyframes radiate {
  0% {
    transform: translateY(-0.35rem) scale(1.05) rotate(0deg);
    transform-origin: bottom;
    filter: drop-shadow(0 0 0.5rem var(--radiate-color));
  }
  25% {
    transform: translateY(-0.35rem) scale(1.05) rotate(-3deg);
    transform-origin: bottom;
    filter: drop-shadow(0 0 2rem var(--radiate-color));
  }
  50% {
    transform: translateY(-0.35rem) scale(1.05) rotate(0deg);
    transform-origin: bottom;
    filter: drop-shadow(0 0 1rem var(--radiate-color));
  }
  75% {
    transform: translateY(-0.35rem) scale(1.05) rotate(3deg);
    transform-origin: bottom;
    filter: drop-shadow(0 0 2rem var(--radiate-color));
  }
  100% {
    transform: translateY(-0.35rem) scale(1.05) rotate(0deg);
    transform-origin: bottom;
    filter: drop-shadow(0 0 0.5rem var(--radiate-color));
  }
}

/* media */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
  .wrapper {
    max-width: 25rem;
  }
  .play-btn {
    height: 3rem;
    width: 9rem;
    font-size: 0.9rem;
    border-radius: 2rem;
  }
}
